@model Irving.Web.Models.Car

@{
    ViewBag.Title = "Create";
}

@Html.ValidationSummary(true)

<h2>Create Car</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model)
        
    <input type="submit" value="Add" />
}