@model Irving.Web.Models.Event

@Html.EditorFor(m => m.Name)

@Html.EditorFor(m => m.DateOccured)
<a href="#" onclick="Irving.CollectionManager.deleteItem(this)">Delete</a>

@Html.HiddenFor(m => m.Id)