@model int

<div id="confirmDelete" class="confirmDelete hidden">
    <form action="@(Url.DeletePost<Asset>())" method="post">
        <input type="hidden" name="Id" value="@Model" />

        <p>Are you sure you want to delete this asset? This change cannot be reverted.</p>

        <input type="submit" value="Delete" />
        <input type="button" onclick="Irving.DbCRUD.hideConfirmDelete()" value="Cancel" />
    </form>
</div>