@model Irving.Web.ViewModels.CreateAssetViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Asset</h2>

@using (Html.BeginForm())
{   
    <div class="row">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>
        
    <input type="submit" value="Add" />
}