@model Irving.Web.ViewModels.EditAssetViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Asset</h2>

@using (Html.BeginForm())
{
    <div class="row">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>

    @Html.HiddenFor(m => m.Id)
        
    <input type="submit" value="Save" />
}