@model Irving.Web.Models.AssetType

@{
    ViewBag.Title = "Create";
}

<h2>Create Asset Type</h2>

@using (Html.BeginForm())
{
    @Html.Partial("_EditFields", Model)
        
    <input type="submit" value="Add" />
}