@model Irving.Web.Models.AssetType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Asset Type</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(m => m)
        
    <input type="submit" value="Save" />
}